language: php

matrix:
  allow_failures:
    - php: hhvm

php:
  - 5.5
  - 5.6
  - hhvm

before_script:
    - composer self-update
    - composer install --dev

script: vendor/bin/phpunit --coverage-clover clover
